<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Portal Informasi Restoran">
  <title>Omaem | Portal Informasi Restoran</title>
</head> 

<body>
  <a href="#main-content" class="skip-link">Menuju ke konten</a>
  <app-bar></app-bar>
  <hero-el></hero-el>
  <main id="main-content">
    <div class="container">
      <div class="content-header">
        <h2 id="explore">Yuk Makan!</h2>
        <p>
          Mau cari makan? 
          Cari di omaem aja!
        </p>
      </div>
      <list-resto></list-resto>
    </div>
  </main>
  <footer>
    <h2>Omaem</h2>
    <p>Cari makan? di omaem aja!</p>
    <p id="copy">Created by Angki | Made with <span id="love"></span><br>
      Menjadi Front End Developer Expert Dicoding Academy </p>
  </footer>
</body>

</html>