@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Poppins:wght@300;400;700&display=swap');
$yellow-accent: #FFC83C;
$accent-color: #A35B35;
$gray-100: #333;
$gray-200: #666;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

body {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100%;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  padding: 8px;
  background-color: #bf1722;
  color: white;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Merriweather', sans-serif;
}

.highlight-text{
  color: $accent-color;
}

img {
  display: block;
}

a.btn{
  display: inline-block;
}

.btn{
  padding: .8rem 2rem;
  border-radius: 4px;
  font-size: 13pt;
}

.btn-outline-white{
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  transition: 0.3s all;
}

.btn-outline-white:hover{
  background: #fff;
  color: $gray-100;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.content-header{
  margin-bottom: 30px;

  h2{      
    color: $accent-color;
    font-size: 2.25em;
  }

  p{
    font-size: 1.25em;
    color: $gray-100;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

 
@media screen and (max-width: 576px) {
  .content-header{
    text-align: center;
    padding: 40px 20px 0 20px;
    p{
      padding: 0 1rem;
    }
  }
}

#hamburger{
  border: 0px;
  background: #ebebeb;
  color: $gray-100;
  display: none;
  text-decoration: none;
  font-size: 1.5em;
  padding: 10px 20px;
  border-radius: 4px;
}

header{
  background: #fff;
  box-shadow: 0 3px 14px rgb(0 0 0 / 14%);
  top: 0;
  width: 100%;
  position: sticky;
  padding: 1rem 2rem;
  z-index: 2;
  
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-content{
      padding: .8rem 1.2rem;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
    }

    .logo{
      min-width: 44px;
      min-height: 44px;
      font-family: 'Merriweather', sans-serif;
      color: $accent-color;
      font-size: 2em;
    }
  }
  
  .highlight-text{
    font-weight: 700;
  }
}

nav {
  ul {
    list-style: none;
    display: flex;

    li{
      padding: 1rem;
    }

    li a{
      text-transform: uppercase;
      color: $gray-100;
      padding: 1rem;
      transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }

    li a:hover{
      color: $accent-color;
    }

    li a:focus{
      color: $accent-color;
    }
  }

  .menu-active{
    color: $accent-color;
    font-weight: 700;
  }


}

@media screen and (max-width: 576px){
  header{
    padding: 0;
    text-align: center;
  }
  #hamburger{
    display: block;
  }
  #navbar{
    display: none;
  }
  #navbar.open{
    display: block;
  }
  
  header{
    .logo{
      padding: 1rem 0;
    }
    .container{
      flex-direction: column;
      
      .header-content{
        width: 100%;
      }
    }
  }
  nav{


    ul{
      text-align: center;
      flex-direction: column;

      li{
        padding: 1rem;
      }
    }
  }
} 

.hero-el {
  background: url('../public/images/heros/hero-image_4.jpg') no-repeat fixed;
  background-size: cover;
  width: 100%;
  height: 550px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .highlight-text{
    color: $yellow-accent;
  }

  .filter{
    background: rgba(30, 31, 35, 0.89);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .hero-content{
    position: relative;
    color: #fff;
    z-index: 1;

    .btn{
      margin-top: 15px;
    }

    .btn-outline-white:focus{
      background: #fff;
      color: $gray-100;
    }

    h1{
      font-size: 5em;
    }

    p{
      font-size: 1.5em;
      max-width: 500px;
      margin: 0 auto;
    }
  }
}

main{
  padding: 2rem;
  box-sizing: border-box;
}

.list-resto{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

@media screen and (max-width: 1024px){
  .list-resto{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px){
  .list-resto{
    grid-template-columns: 1fr 1fr;
  }
  .card-body{
    padding: 0;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 576px){
  main{
    padding: 0;
  }
  .hero-el .hero-content h1{
    font-size: 3em;
  }
  .hero-el .hero-content p{
    font-size: 1.1em;
    padding: 1rem 2.5rem;
  }
  .list-resto{
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.card-resto{
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  
  .card-img{ 
    border-radius: 4px;
    height: 200px;
    overflow: hidden;
    position: relative;

    .rating-label{
      border-radius: 4px;
      background: rgba(0, 0, 0, 0.52);
      backdrop-filter: blur(4px);
      position: absolute;
      top: 15px;
      left: 15px;
      color: #fff;
      padding: .5rem 1rem;
      display: flex;
      align-items: center;
    }

    .rating-label::before{
      background-image: url('../public/icons/star-solid.svg');
      background-size: 20px 20px;
      content: '';
      display: inline-block;
      margin: 0 10px 0 0;
      width: 20px;
      height: 20px;
    }

    img{
      width: 100%;
      height: auto;
      transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }
  
  .card-body{
 
    
    h3{
      font-size: 1.55em;
      margin: 15px 0 8px 0;
      color: $gray-100;
    }

    p{
      color: #888;
      width: 340px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .loc-label{
      display: flex;
      margin: 10px 0;
    }

    .loc-label::before{
      background-image: url('../public/icons/location-dot-solid.svg');
      background-size: 20px 20px;
      content: '';
      display: inline-block;
      margin: 0 5px 0 0;
      width: 20px;
      height: 20px;
    }
  }
}

footer{
  background: #F2E1D8;
  text-align: center;
  padding: 3% 0;

  h2{
    color: $accent-color;
    font-size: 4.5em;
  }

  p{
    color: $gray-100;
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  #copy{
    color: $gray-200;
    font-size: 11pt;
  }

  #love::before{
    background-image: url('../public/icons/heart-solid.svg');
    background-size: 20px 20px;
    content: '';
    display: inline-block;
    margin: 0 10px 0 0;
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 576px) {
  .card-resto{
    padding: 1rem;
  }
  footer{
    padding: 10% 5%;

    h2{
      font-size: 3.5em;
    }
    p{
      font-size: 1em;
      margin-bottom: 3%;
    }
  }
}

